<main class="chats">
  <div class="chats__channels-container">
    <form id="userSearchbar" class="chats__searchbar">
      <input class="chats__input chats__input--search" type="text" name="username" placeholder="Buscar en TutoEasy">
    </form>
    <div class="chats__result" id="userResult"></div>
    <div class="chats__channels" id="channels" data-id="<%- session.idUser %>" data-username="<%- session.username %>"></div>
  </div>
  <div class="chats__chat-container">
    <div class="chats__chat" id="chat"></div>
    <form class="chats__chat-box" id="chatForm">
      <input type="hidden" name="idReceiver">
      <input class="chats__input" type="text" name="messageContent" placeholder="Aa">
    </form>
  </div>
</main>