<main class="notAllowed">
  <div class="notAllowed__container">
    <div class="notAllowed__banner-container">
      <img class="notAllowed__banner" src="/img/403.jpg" alt="Not Allowed">
    </div>
    <h2 class="notFound__title">Not Allowed</h2>
    <p class="notFound__description">You are not allowed to se this resource</p>
  </div>
</main>