<main class="notFound">
  <div class="notFound__container">
    <div class="notFound__banner-container">
      <img class="notFound__banner" src="/img/404.jpg" alt="Not Found">
    </div>
    <h2 class="notFound__title">Not Found</h2>
    <p class="notFound__description">The link that you have used is broken or is not available at this moment</p>   
  </div>