/* Navbar */
.navbar {
    background-color: steelblue;
    color: white;
}
/* /Navbar */
/* Login */
.login {
    background-color: midnightblue;
    color: white;
}
/* /Login */
/* Signup */
.signup {
    background-color: cornflowerblue;
    color: white;
}
/* /Signup */
/* Not-Allowed */
.notAllowed {
    background-color: peru;
    color: white;
}
/* /Not-Allowed */
/* Not-Found */
.notFound {
    background-color: crimson;
    color: white;
}
/* /Not-Found */