<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutoEasy</title>
    <link rel="stylesheet" href="/css/index.css">
    <% if (typeof(loginFormCSS) !== "undefined" && loginFormCSS) { %>
      <link rel="stylesheet" href="/css/login.css">
    <% } %>
    <% if (typeof(signupFormCSS) !== "undefined" && signupFormCSS) { %>
      <link rel="stylesheet" href="/css/signup.css">
    <% } %>
    <% if (typeof(chatCSS) !== "undefined" && chatCSS) { %>
      <link rel="stylesheet" href="/css/chat.css">
    <% } %>
    <script defer src="/js/index.js"></script>
    <% if (typeof(chatFunctionality) !== "undefined" && chatFunctionality) { %>
      <script defer src="/js/chats.js"></script>
    <% } %>
</head>
<body>
  <%- include("../components/navbar") %>
  <%- body %>
</body>
</html>