<div class="authError">
  <% if (typeof(isError) !== "undefined" && isError) { %>
    <ul class="authError__errors">
      <% errors.forEach(error => { %>
        <li class="authError__error">
          <span class="authError__message"><%- error %></span><span class="authError__closer">✘</span>
        </li>
      <% }) %>
    </ul>
  <% } %>
</div>
