<nav class="navbar">
  <div>
    <a class="navbar__home-link" href="/">
      <img class="navbar__logo" src="/img/logo.png" alt="TutoEasy">
      <h1 class="navbar__title">TutoEasy</h1>
    </a>
  </div>
  <div>
    <ul class="navbar__links">
      <% if (session.loggedIn) { %>
        <a class="navbar__link navbar__link--logout" href="/auth/logout">Log Out</a>
        <a class="navbar__link navbar__link--chats" href="/chats/">Mis chats</a>
      <% } else { %>
        <a class="navbar__link navbar__link--login" href="/auth/login">Log In</a>
        <a class="navbar__link navbar__link--signup" href="/auth/signup">Sign Up</a>
      <% } %>
    </ul>
  </div>
</nav>
